
{% extends "base.html" %}

{% block page_content %}
  <div style="text-align: center;" class = "basic">
    <h1 class="sign">Sign in</h1>
    <br>
    <form method = "POST" action = "" class="from1">
    {{ form.csrf_token }}
    <p>{{form.username(class_='un')}}</p>
    &nbsp;
    <p>{{form.password(class_='pass')}}</p>
    &nbsp;
    <p>{{form.token(class_='toke')}}</p>
    &nbsp;
    <br>
    <div style="display:inline-block;">{{ form.recaptcha }}</div>
    <br></br>
    <p><a>{{form.submit(class_='submit')}}</a></p>
    {% for error in form.submit.errors %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    </form>

    <!-- <p class="NewUser" align="center">New User? <a href="{{ url_for('register') }}">Sign Up Here.</a></p> -->
    <p  align = "center"><a class="NewUser" href="{{ url_for('register') }}">New User? Sign Up Here.</a></p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <span style="color: red;">[{{message}}]</span>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </div>

{% endblock %}
