<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign In</title>

  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<body>

  <div class = "basic">
    <p class="sign" align="center">Sign in</p>
    <form method = "POST" action = "" class="from1">
    {{ form.csrf_token }}
    <p>{{form.username(class_='un')}}</p>
    &nbsp;
    <p>{{form.password(class_='pass')}}</p>
    &nbsp;
    <p>{{form.token(class_='toke')}}</p>
    &nbsp;
    <a>{{form.submit(class_='submit')}}</a>
    {% for error in form.submit.errors %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}
    </form>

    <!-- <p class="NewUser" align="center">New User? <a href="{{ url_for('register') }}">Sign Up Here.</a></p> -->
    <p  align = "center"><a class="NewUser" href="{{ url_for('register') }}">New User? Sign Up Here.</a></p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li align="center">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </div>

<!-- footer -->
<footer class="py-4 text-black-50">
    <div class="container text-center">
      <a class="footer_icons" href="#" target="_blank"
        ><i
          style="color:black; font-size:24px; padding-right:5px;"
          class="fa fa-facebook-official"
        ></i>
      </a>
      <a class="footer_icons" href="#" target="_blank"
        ><i
          style="color:black; font-size:24px; padding-right:5px;"
          class="fa fa-instagram"
        ></i
      ></a>
      <a class="footer_icons" href="#" target="_blank"
        ><i
          style="color:black; font-size:24px; padding-right:5px;"
          class="fa fa-bitbucket"
        ></i
      ></a>
      <br />
      <small>University of Oregon &copy; KeySafe</small>
    </div>
  </footer>

  <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
  ></script>
  <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
  ></script>  

</body>   
</html>
