{% extends "base.html" %}

{% block page_content %}

    <div style="text-align: center;" class = "basic">
    <h1 class="sign">Register</h1>
    <br>
    <form method = "POST" action = "" class = "form1">
        <p>
        <input class="un" name="fname" type="text" placeholder="First Name">
        </p>
        <p>
       <input class="un"name="lname" type="text" placeholder="Last Name">

        </p>
        {{form.hidden_tag()}}
        <p>
            {{form.username(class_='un')}}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>

        <p>
            {{form.email(class_='un')}}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.password(class_='un')}}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.password2(class_='un')}}
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{error}}]<s/span>
            {% endfor %}
        </p>

        <p>{{form.submit(class_='submit')}}</p>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

{% endblock %}